.banner {
    position: relative;
    top: 30px;
}

.banner img {
    max-width: 100%;
}

.banner .welcome {
    position: absolute;
    top: 20%;
    left: 20%;
}

.banner h1 {
    font-size: 100px;
    text-align: center;
}

.banner .welcome h2 span {
    font-size: 120px;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    text-align: center;
    background-color: black;
    top: 0;
    left: 0;
}

header h1 {
    color: rgb(30, 238, 30);
    padding: 4px 6px;
    border: 4px solid rgb(30, 238, 30);
    display: inline-block;
    border-radius: 36px;
}

nav {
    background-color: #f4f4f4;
    position: sticky;
    top: 50px;
}

nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

nav li {
    width: 25%;
    display: inline-block;
    font-size: 24px;
}

nav li a {
    text-decoration: none;
    color: rgb(37, 37, 226);
}

body,
ul,
li,
h1,
h2,
a,
h3 {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

article h2,
h3 {
    color: red;
}

article p {
    line-height: 2em;
    color: #4b4b4b;
}

.images {
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}

.images li {
    display: inline-block;
    width: 32%;
    margin: 10px;
}

.images li img {
    max-width: 100%;
}

.join {
    background: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}

.join h2 {
    font-size: 36px;
}

form input {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white
}

form label {
    font-size: 24px;
}

footer {
    background: black;
    color: rgb(30, 238, 30);
    padding: 10px;
    text-align: center;
    font-size: 17px;
}


/* pseudo class */

nav li a:hover {
    text-decoration: underline;
}

.images li:hover {
    position: relative;
    top: -4px;
}

form input:focus {
    border: 4px dashed #4b4b4b;
    outline: none;
}

form input:valid {
    border: 4px solid #71d300;
}


/* nav li:first-child {
    border: 3px solid red;
} */

article p::first-line {
    font-weight: bold;
    font-size: 1.2em;
}

.join p::first-letter {
    font-size: 1.5em;
}

.join p::selection {
    background-color: red;
    color: bisque;
}

article::after {
    content: '.....';
    font-size: 25px;
}


/* responsive styles */

@media screen and (max-width: 950px) {
    .banner .welcome h1 {
        font-size: 60px;
    }
    .banner .welcome h2 span {
        font-size: 70px;
    }
    .main-nav li {
        font-size: 18px;
    }
}

@media screen and (max-width: 1080px) and (min-width: 951px) {
    .banner .welcome h1 {
        font-size: 75px;
    }
    .banner .welcome h2 span {
        font-size: 85px;
    }
}

@media screen and (max-width: 720px) {
    .banner .welcome h1 {
        font-size: 45px;
    }
    .banner .welcome h2 span {
        font-size: 55px;
    }
}

@media screen and (max-width: 550px) {
    .banner .welcome h1 {
        font-size: 35px;
    }
    .banner .welcome h2 span {
        font-size: 45px;
    }
}

@media screen and (max-width: 550px) {
    header h1 {
        font-size: 25px;
    }
    .join h2 {
        font-size: 25px;
    }
    .join p {
        font-size: 13px;
    }
    .join form label {
        font-size: 18px;
    }
    .join form input {
        padding: 7px 9px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .images li {
        display: flow-root;
        width: 100%;
        margin: 10px;
    }
    .main-nav ul .new {
        padding-left: 80px;
    }
    .main-nav a {
        padding-left: 20px;
    }
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 22px;
    }
    body .banner .welcome h1{
        font-size: 25px;
    }
    body .banner .welcome h2 span{
        font-size: 30px;
    }
    .join h2 {
        font-size: 20px;
    }
    .welcome h2{
        font-size: 20px;
    }
    .join p {
        font-size: 13px;
    }
    .join form label {
        font-size: 18px;
    }
    .join form input {
        padding: 5px 7px;
        margin-top: 9px;
        margin-bottom: 9px;
    }
    .main-nav ul li a {
    width: 24%;
    display: inline-block;
    }
    .images li {
        display: flow-root;
        width: 100%;
        margin: 10px;
    }
    .main-nav{
        position: relative;
        top: 23px;
    }
    .main-nav ul .new {
        padding-left: 30px;
    }
    .main-nav a {
        font-size: 15px;
        padding-left: 15px;
    }
    
}
